#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}

echo Setting macOS settings.

# Key press
defaults write -g ApplePressAndHoldEnabled -bool false
defaults write -g InitialKeyRepeat -int 10 # Default: 15 (225 ms)
defaults write -g KeyRepeat -int 1 # Default: 2 (30 ms)

# Dock
defaults write com.apple.dock orientation -string left
defaults write com.apple.dock tilesize -integer 52
defaults write com.apple.dock show-recents -bool FALSE

# Launchpad
defaults write com.apple.dock springboard-rows -int 8

# Finder
defaults write http://com.apple.finder FXDefaultSearchScope -string SCcf

killall Finder
killall Dock

{{ else }}

echo Skipping macOS key repeat config.

{{ end -}}
