{{- $fullName := promptString "Full name" -}}
{{- $emailAddress := promptString "Email address" -}}
{{- $signingKey := promptString "Signing key" -}}

[data]
	fullname = {{ $fullName | quote }}
	emailaddress = {{ $emailAddress | quote }}
	signingkey = {{ $signingKey | quote }}