[user]
  name = {{ .fullname }}
  email = {{ .emailaddress }}
  signingkey = {{ .signingkey }}
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  default = current
  autoSetupRemote = true
[commit]
  gpgsign = true
[gpg]
  program = gpg
[core]
  editor = vim
  excludesfile = ~/.gitignore
[alias]
  undo = reset --soft HEAD^
