tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "jakehilborn/jakehilborn"

brew "antigen"
brew "asdf"
brew "docker"
brew "git"
brew "gnupg"
brew "pinentry"
brew "pinentry-mac"
brew "displayplacer"

cask "font-jetbrains-mono"

cask "quicklook-csv"
cask "quicklook-json"

cask 'lulu'
cask 'oversight'
cask "bitwarden"
cask "brave-browser"
cask "dozer"
cask "imageoptim"
cask "logitech-options"
cask 'lulu'
cask "monitorcontrol"
cask 'oversight'
cask "rapidapi"
cask "slack"
cask "spotify"
cask "visual-studio-code"

{{ if eq .profile "home" -}}

cask "calibre"
cask "corsair-icue"
cask "discord"
cask "figma"
cask "home-assistant"
cask "iina"

{{ end -}}
