[user]
	name = {{ .fullname }}
	email = {{ .emailaddress }}
  	signingkey = {{ .signingkey }}
[init]
	defaultBranch = main
[push]
  default = current
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = ~/.gitignore
