tap "homebrew/cask"
tap "homebrew/cask-fonts"

brew "antigen"
brew "git"
brew "gnupg"
brew "pinentry"
brew "podman"

cask "font-meslo-lg-nerd-font"

cask "qlmarkdown"
cask "quicklook-csv"
cask "quicklook-json"

cask 'lulu'
cask 'oversight'

cask "brave-browser"
cask "opera"
cask "safari-technology-preview"

cask "authy"
cask "bitwarden"
cask "dozer"
cask "imageoptim"
cask "logitech-options"
cask "slack"
cask "tidal"
cask "visual-studio-code"

{{ if eq .profile "home" -}}

cask "calibre"
cask "corsair-icue"
cask "discord"
cask "figma"
cask "home-assistant"
cask "iina"
cask "nordvpn"
cask "spotify"
cask "synology-drive"

{{ end -}}